body {
    color: #333;
    margin-top: 70px;
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.box.box-solid.box-default > .box-header {
    color: #777;
    background: #f5f5f5;
    background-color: #f5f5f5;
    border-bottom-color: #e9e9e9;
}

.wrapper {
    background-color: #e2e2e2;
    overflow: auto;
}

.navbar {
    -webkit-box-shadow: 0px 2px 10px 0px rgba(207, 205, 207, 1);
    -moz-box-shadow: 0px 2px 10px 0px rgba(207, 205, 207, 1);
    box-shadow: 0px 2px 10px 0px rgba(207, 205, 207, 1);
}

.article {
    padding-bottom: 10px;
    border-bottom: 1px dashed #dddddd;
}

.article a {
    color: #333;
}

.article a:hover {
    color: #EC5424;
}

.article small, .small {
    color: #9d9d9d;
}

.article small > a {
    color: #9d9d9d;
}

.article .media-heading {
    font-size: 16px;
    line-height: 28px;
}

.navbar-white {
    background-color: #fff;
    border-color: #e7e7e7;
}

.navbar-white a {
    color: #333
}

.navbar-brand b {
    color: #EB5424;
}

.navbar-white li.active {
    border-bottom: 3px solid #EB5424;
}

.navbar-white li.active > a {
    color: #EB5424;
}

footer {
    clear: both;
    border-top: 1px solid #ddd;
    padding: 30px 0 15px 0;
    width: 100%;
    background: #f8f8f8;
    height: 120px;
}

td {
    word-break: break-all;
}

.margin5-r {
    margin-right: 5px;
}

.margin5-b {
    margin-bottom: 5px;
}

.font-12 {
    font-size: 12px;
}

.font-10 {
    font-size: 10px;
}

.label {
    display: inline;
    padding: .3em .6em;
    font-size: 55%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 2px;
}

.clear {
    clear: both;
}

.navbar-toggle {
    color: #000;
    border: 0;
    margin: 0;
    padding: 15px 15px;
}

.image {
    width: 100%;
}

.box-body {
    overflow: hidden;
    padding: 12px;
}

.margin5-t {
    margin-top: 5px;
}

.logo-beta {
    font-size: 12px;
    position: absolute;
    top: 30px;
    margin-left: 67px;
    color: #9D9D9D;
}

.article code, code {
    display: block;
    float: left;
    margin-right: 5px;
    padding: 2px 4px;
    font-size: 80%;
    color: #778087;
    margin-bottom: 5px;
    background-color: #eee;
    border-radius: 4px;
}

.article code a, code a {
    color: #778087
}

code a:hover, code a:focus {
    color: #666666
}

nav .form-search .form-control {
    font-size: 12px;
    border: none;
    height: 100%;
    margin-top: 5px;
    margin-left: -10px;
    background: transparent;
    transition: all .3s;
    box-sizing: border-box;
    color: #333;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #eee;
    left: 31px;
    margin: 0;
    border-radius: 2px;
}

.timeline > li.item:before {
    position: absolute;
    height: 12px;
    width: 12px;
    left: 27px;
    top: 10px;
    border-radius: 50%;

    background: #ddd;
}

.timeline > li > .timeline-item {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    margin-top: 0;
    background: #fff;
    color: #444;
    margin-left: 40px;
    margin-right: 15px;
    padding: 0;
    position: relative;
}

.timeline > li > .timeline-item > .timeline-header {
    margin: 0;
    color: #555;
    border-bottom: none;
    padding: 10px;
    font-size: 14px;
    line-height: 1.1;
}

.timeline li {
    margin-bottom: 2px;
}



.read-source {
    font-weight: 800;
    animation: neon1 2s ease-in-out infinite alternate;
}

/*glow*/
@keyframes neon1 {
    to {
        text-shadow: 0 0 1px #fff,
        0 0 3px #fff,
        0 0 5px #fff,
        0 0 7px #FF1177,
        0 0 9px #FF1177
    }
    from {
        text-shadow: 0 0 9px #fff,
        0 0 7px #fff,
        0 0 5px #fff,
        0 0 3px #FF1177,
        0 0 1px #FF1177
    }
}
